
.awesome_header {
  text-align: center;
  padding-top:  100px;
  font-family: Raleway;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
}

.awesome_subheader{
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
padding: 35px;
text-align: center;
opacity: .3;
}
.awesome{
  max-width: 1170px;
  margin: auto;

}
.awesome_flex{
  
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;

  
}

.flex_item {
 
  color: #0c0101;
  text-align: center;
  width: 340px;
  height: 200px;
}

  .border{
    border: 1px solid #D98943;
    border-radius: 50%;
    padding: 10px;
    height: 50px;
    width: 50px; 
    background-position: center;
    margin: 0 auto;
  }

.awesome_card_text{
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  }
  img{
    padding: 5px 0px 0px 0px;
  }