.modern_axure{
  width: 1170px;
  margin:0 auto;
}
.axure_header{
  font-family: Roboto;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  top: 10%;
  left: 14%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 4;
}
.axure_text{
  font-family: Raleway;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 42px;
letter-spacing: 0em;
text-align: left;
position: absolute;
top: 37%;
left: 30%;
transform: translate(-50%, -50%);
color: white;
z-index: 4;
}
.color_text{
 color: #EC7979;
}
.axure_line{
  position: absolute;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  top: 58%;
  left: 11%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 4;
  border-bottom: 2px solid #FFFFFF;
  width: 64px;
}
.axure_subheader{
position: absolute;
top: 65%;
left: 16%;
transform: translate(-50%, -50%);
color: white;
text-align: left;
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
padding: 35px;
color: #FFFFFF;
z-index: 4;
}  
  .axure_background{
   position: relative; 
   align-content: center;
   width: 100%;
  }

  
  .axure_download{
    position: absolute;
    top: 80%;
    left: 13%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 0.5rem 1.5rem; 
    text-decoration: none;
    border: 1px solid #FFFFFF;
    border-radius: 3px; 
    z-index: 4; 
    font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;

  }
  