
.header_container{
width: 1170px;
background: #000000;
margin:0 auto;
display: flex;
justify-content:space-between;
flex-direction: row;
flex-wrap: nowrap;

}
.logo{
  
  padding-top: 20px;
  padding-left: 110px;
  padding-right: 0%;
  padding-bottom: 19px;
}
.menu{
align-self:center;
top: 20px;
width: auto;

}

.menu_list {
  padding-right: 40px;
  
  }
  .menu_list li {

display: inline-block;
font-family: Open Sans;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
padding-right: 20px;
 }
.menu_link:after {
      content: "";
      display: block;
      border-bottom: 2px solid #EC7979;
      width: 0%;
      transition: width 0.7s;
      
  }
  
.menu_link {
  color:rgba(255, 255, 255, 0.7);
  text-decoration:none;
  margin: 0 20px;
    }
   
  
.menu_link:hover:after {
    width: 100%;
}
