
.header_container{
  margin: 0 auto;
max-width: 1170px;
background: #000000;
display: flex;
justify-content:space-between;
flex-direction: row;
flex-wrap: wrap;

}
.logo{
  padding-top: 1.25rem;
  padding-left: 6.875rem;
  padding-bottom: 1.188rem;
}
.menu{
align-self:center;
}

.menu_list {
  width:30.625rem ;
  }
  .menu_list li {

display: inline-block;
font-family: Open Sans;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 20px;
letter-spacing: 0em;
text-align: center;

 }
.menu_link:after {
      content: "";
      display: block;
      border-bottom: 0.125rem solid #EC7979;
      width: 0%;
      transition: width 0.7s;
      
  }
  
.menu_link {
  color:rgba(255, 255, 255, 0.7);
  text-decoration:none;
  margin: 0 1.25rem;
    }
   
  
.menu_link:hover:after {
    width: 100%;
}
