@import url("awesome.css");
@import url("prices.css");
@import url(customers.css);
@import url(stylish.css);
@import url(header.css);
@import url(social.css);
@import url(footer.css);
@import url(axure.css);
@import url(axure-form.css);
@import url(contact.css);
.container{
background: #FFFFFF;
max-width: 1170px;
margin: auto;
padding: 15px;
}

 
 .line{
  margin-top: 20px;
  border-bottom: 2px solid #D98943;
  width: 64px;
  margin: auto;
 }

 